<h1>About Us</h1>
<div class="jumbotron">
  <h1>Give us a try!</h1>
  <div class="row">
    <div class="col-xs-5">
      <p>
        Our product will change your life! Just follow these four easy steps.
      </p>
    </div>
    <div class="col-xs-5 col-xs-offset-1">
      <p>Step 1: Buy our product</p>
      <p>Step 2: Use our product</p>
      <p>Step 3: See the results</p>
    </div>
  </div>
</div>
<div class="row">
  <h1>Meet the team:</h1>
</div>
<div class="row text-center">
  <div class="col-xs-3">
    <img src="http://longhollowwomen.com/wp-content/uploads/2013/02/99233806-bringing-home-new-cat-632x475.jpg" width="140" height="100" class="img-circle" />
    <h2>President</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, augue vitae euismod sagittis, sem ex ultricies tellus, non fringilla tellus augue at odio. Quisque nec eleifend mi. Praesent vel magna sed arcu efficitur gravida.
    </p>
  </div>
  <div class="col-xs-3">
    <img src="http://i.ytimg.com/vi/8p4ZjrDkX6g/maxresdefault.jpg" width="140" height="100" class="img-circle" />
    <h2>Lead Engineer</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, augue vitae euismod sagittis, sem ex ultricies tellus, non fringilla tellus augue at odio. Quisque nec eleifend mi. Praesent vel magna sed arcu efficitur gravida.
    </p>
  </div>
  <div class="col-xs-3">
    <img src="http://www.theprocrastiwriter.com/wp-content/uploads/2013/07/cat-dog-and-star-wars-funny.jpg" width="140" height="100" class="img-circle" />
    <h2>Office Goofball</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, augue vitae euismod sagittis, sem ex ultricies tellus, non fringilla tellus augue at odio. Quisque nec eleifend mi. Praesent vel magna sed arcu efficitur gravida.
    </p>
  </div>
  <div class="col-xs-3">
    <img src="http://stuffpoint.com/cats/image/190797-cats-cute-kitty.jpg" width="140" height="100" class="img-circle" />
    <h2>Intern</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec congue, augue vitae euismod sagittis, sem ex ultricies tellus, non fringilla tellus augue at odio. Quisque nec eleifend mi. Praesent vel magna sed arcu efficitur gravida.
    </p>
  </div>
</div>
