<h1>Contact</h1>
<div class="row">
  <div class="form-group col-xs-5 col-xs-offset-1">
    <div class="form-group">
      <label for="name_field">Your Name: </label>
      <input class="form-control" type="text" name="name" id="name_field">
    </div>
    <div class="form-group">
      <label for="email_field">Your Email: </label>
      <input class="form-control" type="text" name="email" id="email_field">
    </div>
    <div class="form-group">
      <label for="question_field">Question: </label>
      <textarea class="form-control" name="question" rows="8" cols="40" id="question_field"></textarea>
    </div>
    <div class="form-group">
      <input type="button" class="btn btn-primary" value="Submit">
    </div>
  </div>

  <div class="form-group col-xs-5 col-xs-offset-1">
    <table class="table table-striped">
      <tr>
        <th>
          Staff Member
        </th>
        <th>
          Title
        </th>
        <th>
          Phone Number
        </th>
      </tr>
      <tr>
        <td>
          Person 1
        </td>
        <td>
          Office of the CEO
        </td>
        <td>
          555-555-5555
        </td>
      </tr>
      <tr>
        <td>
          Person 2
        </td>
        <td>
          Recruiter
        </td>
        <td>
          555-555-5555
        </td>
      </tr>
      <tr>
        <td>
          Person 3
        </td>
        <td>
          IT
        </td>
        <td>
          555-555-5555
        </td>
      </tr>
    </table>

  </div>

</div>
